{% extends 'index2.html' %}

{% block content %}
<div class=" welcome hero-container " data-aos="fade-in">
  <div class="row" data-aos="fade-in">
    <div class="col-md-2" data-aos="fade-in">
      
    </div>
    <div class="col-md-10 container-reponsive" data-aos="fade-in">
      <div class="card bg-transparent border-0" data-aos="fade-in"  >
        <div class="card-header text-light">
          <h4>Iris, <span class="text-danger"> {{user.username}} </span> </h4>
        </div>
        <div class="card-body text-light bg-gradiant">
          <div class="container row ">
            <div class="card bg-light text-dark" >
              
                <div class="card-header">
                  <h5>Currrent File : <span class="h6 text-danger">{{audio.filename}}  </span> </h5>
                </div>
                <div class="card-body">
                    <div class="row">
                      {% block file %}
                        <audio controls>
                            <source src="{{audio.file.url}}" type="audio/ogg">
                            <source src="{{audio.file.url}}" type="audio/mpeg">
                          Your browser does not support the audio element.
                          </audio>
                      {% endblock %}
                    </div>
                    <div class="row">
                            <div class="col-md-6">
                                <div class="row" style="padding-top:2%;">
                                    <div class="input-group mb-3">
                                    
                                    <select class="custom-select form-control " id="valeur" name="la" required>
                                        <span class="sr-only">Toggle Dropleft</span>
                                        <option value="en" selected> Choose transcrypt language</option>
                                        <option value="en" onclick="update()">English </option>
                                        <option value="fr">French </option>
                                        <option value="de">German</option>
                                        <option value="es">Spanish</option>
                                        <option value="ru">Russian</option>
                                        <option value="zh">Chinese</option>
                                        <option value="ja">Japanese</option>
                                        <option value="pt">Portuguese</option>
                                        <option value="he">Hebrew</option>
                                        <option value="sw">Swahili</option>
                                    </select>
                                    </div>
                                </div>
                            </div>
                          <div class="col-md-6">
                            <div class="row" style="padding-top:2%;">
                            <textarea maxlength="200" class="form-control"  rows="4" placeholder="Brief description of the content(optional)" required></textarea>
                          </div>
                        </div>
                    </div>
                    <div class="row"style="padding-top:2%;">
                        <div class="col-md-8">
                          {% block btnGroup %}
                            <a href="{% url 'Acceuil' %}" class="btn btn-outline-dark" style="margin-bottom: 3%;"><i class="bi bi-box-arrow-left"></i></a>
                            <button onclick="update()" class="btn btn-danger" style="margin-bottom: 3%;">Start transcrypt</button> 
                            <a href="{% url 'Audiochat' %}" class="btn btn-primary" style="margin-bottom: 1%;">Continue</a> 
                            {% endblock%}
                            
                            <div class="progress bg-transparent"  >
                              <div id="myprogressBar" class="progress-bar opacity-90" style= "height: 150px; width: 150px; background-color: red;" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" ><span id="pourcentage" class="h6"></span></div>
                            </div>
                            
                        </div>
                    </div>
                    <hr class="mx-2">
                    <div class="row"style="padding-top:2%; display:none;" id="textgen">
                      <div class="col-md-12">
                        {% comment %} <a href="#" onclick="saveTextAsFile()"><i class="bi bi-filetype-txt h5"></i></a> {% endcomment %}
                          <div class="form-group green-border-focus">
                            <h6 id="downTxt" onclick="saveTextAsFile2()" ><a href="#"  class="text-danger">Download <i class="bi bi-filetype-txt h6" ></i></a></h6>
                            <a href="" class="btn btn-primary" style="margin-bottom: 1%;">Continue</a> 

                            <textarea class="form-control" id="mon-champ" rows="5" readonly> </textarea>
                            
                          </div>
                          

                      </div>
                  </div>
                </div>
                
               
                <hr class="mx-2">
                                  
          </div>
        </div>
        
        </div>
      </div>
    </div>
  </div>
</div>

<style>
    #Progress_Status {
      width: 50%;
      background-color: #ddd;
    }
      
    #myprogressBar {
      width: 2%;
      height: 10px;
      border-radius: 10px;
      background-color: #4CAF50;
      transition: color 1s;
    }

</style>
<script>
  function saveTextAsFile2() {
    // Récupère le contenu de l'input
    var textToSave = document.getElementById("mon-champ").value;
  
    // Crée un nouveau fichier texte avec le contenu
    var textToSaveAsBlob = new Blob([textToSave], {type:"text/plain"});
    var fileNameToSaveAs = "mon_fichier.txt";
  
    // Crée un objet URL pour le fichier texte
    var downloadLink = document.createElement("a");
    downloadLink.download = fileNameToSaveAs;
    downloadLink.href = window.URL.createObjectURL(textToSaveAsBlob);
    downloadLink.style.display = "none";
  
    // Ajoute l'élément au corps de la page
    document.body.appendChild(downloadLink);
  
    // Clique sur l'élément pour lancer le téléchargement
    downloadLink.click();
  
    // Supprime l'élément de la page
    document.body.removeChild(downloadLink);
  }

  function downloadFile2() {
      var text = "{{ audio.TextGen.text }}";
      var filename = "monfichier.txt";
      var element = document.createElement('a');
      element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
      element.setAttribute('download', filename);
      element.style.display = 'none';
      document.body.appendChild(element);
      element.click();
      document.body.removeChild(element);
  }
</script>

{% block script %}
<script>

  const prog = document.getElementById("myprogressBar");
  const textgen = document.getElementById("textgen");
  prog.style.display = "none";
  
  function update() {
    prog.style.display = "block";
    prog.style.backgroundColor = "red";
    var element = document.getElementById("myprogressBar");
    var width = 0.5;
    var valeur = document.getElementById("valeur").value; // Obtenir la valeur de l'élément à traiter
    var identity = setInterval(scene, 10);
    function scene() {
      if (width >= 100) {
        clearInterval(identity);
  
        // Afficher "Patienter..."
        var pourcentage = document.getElementById("pourcentage");
        pourcentage.innerHTML = "Waiting...";
        if (pourcentage.innerHTML === "Waiting...") {
        let index = 0;

        function changeColor() {
          if (pourcentage.innerHTML === "Done !") {
            prog.style.backgroundColor = "green";
            width = width + 20
          } else {
            const colors = ["#F35B5B ", "#FE2121","#F78383","#E27474"];
            prog.style.backgroundColor = colors[index];
            index = (index + 1) % colors.length;
          }
        }
        const col = setInterval(changeColor, 1000);
        }
        
  
        // Envoyer une requête AJAX au serveur Django pour exécuter la fonction avec la valeur de l'élément
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "/executer-fonction/?valeur=" + valeur, true);
        xhr.onload = function() {
  
          // Mettre à jour le champ approprié avec le résultat
          var resultat = JSON.parse(xhr.responseText)["resultat"];
          var champ = document.getElementById("mon-champ");
          champ.value = resultat;
  
          // Afficher "Opération terminée !"
          pourcentage.innerHTML = "Done !";
          textgen.style.display = "block";
        };
        xhr.send();
      } else {
        width =  width+ 0.5;
        element.style.width = width + '%';
        var pourcentage = document.getElementById("pourcentage");
        pourcentage.innerHTML = "" + Math.round(width) + "%";
         // Alterner entre deux couleurs pour la couleur de fond du progresse bar
      }
    }
  }
  

</script>
{% endblock %}

<script>
    const sectione = document.getElementById("signup");
    const sectione2 = document.getElementById("signin");
    //const sectione3 = document.getElementById("welcome");
    //const newRese = document.getElementById("newR");
    //const newseqe = document.getElementById("new");

    sectione2.style.display = "none";
    sectione.style.display = "none";
    //sectione3.style.display = "block";

    //newRese.addEventListener("click", function() {
    //  newseqe.style.display = "block";
    //});
</script>

<script src="https://unpkg.com/docx"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>

{% endblock %}
